<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The <a href="https://en.wikipedia.org/wiki/Doraemon/"><em>one true god</em></a> is a
      <a href="https://en.wikipedia.org/wiki/Doraemon#Name">robot</a> and
      <a href="https://www.comic-rocket.com/explore/doraemon-project/">series</a>
      to teach life skills with
      <a href="http://doraemon.wikia.com/wiki/Nobita_Nobi"> Nobita</a>.
    </p>
  </body>
</html>