<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Meet
      <a href="http://www.daisuki.net/anime/detail/ONEPUNCHMAN"> Saitama</a> and join him on his eternal fight with boredom .
      For fans of the 90's, see
      <a href="http://ultra.wikia.com/wiki/Ultraman_Wiki"><em> </em></a>.
    </p>
  </body>
</html>