<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help with your STIs at the
      <a href="http://www.lileks.com/institute/"> Real Deal</a>.
      To get help on everything else, see
      <a href="http://www.wikipedia.com"><em> THIS</em></a>.
    </p>
  </body>
</html>