<footer class="footer">
  <small>
    Watch everything <a href="http://www.primewire.ag/"> here </a>. Or for something else<a href="http://motherfuckingwebsite.com/">go here.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.dailymail.co.uk/">News</a></li>
    </ul>
  </nav>
</footer>