<footer class="footer">
  <small>
    The <a href="http://www.liveleak.com/"> link to the truth</a>
    by <a href="https://en.wikipedia.org/wiki/Kofi_Annan">Me</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.dailymail.co.uk/">News</a></li>
    </ul>
  </nav>
</footer>